

/***********************
 About
****************************/

.about {
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.about img {
  border-radius: 50%;
  width: 10rem;
  max-height: 11.5rem;
  flex-shrink: 0;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about div {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

.about div p {
  padding-left: 2rem;
}


/***********************
 Home - mobile
****************************/
@media (max-width: 760px) {

  .about img {
    margin-right: 1rem;
  }

  .about div {
    white-space: normal;
  }

}

@media (max-width: 559px) {

  .about {
    flex-direction: column;
  }

  .about img {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .about div p {
    padding-left: 0rem;
  }
}














