
/***********************
 General
****************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', serif;
  height: 100%;
  min-height: 100vh;
  padding-top: 3rem;
  background-repeat: round;
  background-size: cover;
  background-image: url('../images/background-comp.jpg');
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0 4rem 1rem 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.4rem;
  margin-bottom: 0.85rem;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

h6 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.main-title {
  align-self: flex-start;
  margin-bottom: 3rem;
}

.glyphicon-new-window {
  font-size: 13px;
}

.secondary-title {
  box-shadow: 2px 1px 3px #004cff;
  border: 1px solid grey;
  height: 3rem;
  width: 6rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #009fff7d;
  color: #0a244d;
  margin-right: 2rem;
  border-radius: 50px;
  background-image: linear-gradient(
    164deg,
    #0fb8ce7d 20%, 
    #00ccff7d 40%, 
    #009dff60 60%, 
    #009dff9d 80%
  );
}

.third-title {
  border: 1px solid grey;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00ffc37d;
  color: #074e82;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.third-title i {
  font-size: 2rem;
}


.hide-from-left {
  visibility: hidden;
  transform: translateX(-100%);
}

.hide-from-right {
  visibility: hidden;
  transform: translateX(100%);
}

.hide-in-place {
  visibility: hidden;
  opacity: 0;
}

.display {
  visibility: visible;
  opacity: 100;
  transition: opacity 1.4s;
}

.display-from-left {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.8s;
}

.display-from-side {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.8s;
}


/***********************
 Index
****************************/

header {
  display: flex;
  justify-content: center;
  background-image: url(../images/home-link-background.jpg);
  color: white;
  position: relative;
  top: -3rem;
  height: 50vh;
}

/* .profile-image-container {
  background-image: url(../images/formal-cropped-face-2.jpg);
} */

.profile-image {
  /* border-radius: 50%; */
  max-height: 11.5rem;
  flex-shrink: 0;
  font-size: 5rem;
  align-self: center;
  clip-path: polygon(26% 100%, 0% 50%, 26% 0, 74% 0, 100% 50%, 74% 100%);
}

header div {
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  justify-content: center;
  margin-left: 2rem;
}

header div p {
  padding-left: 2rem;
}

/***********************
 FOOTER
****************************/

 footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #57b3ff;
  box-shadow: 0px -4px 14px -4px #104c82;
}

.footer-rights-icon {
  font-size: 2.5rem;
  margin: auto;
  margin-right: 0.8rem;
}

.contact-icon {
  border-radius: 50%;
  border: 1px solid black;
  font-size: 1rem;
  padding: 12px;  
  margin: auto;
  margin-right: 0.8rem;
}

.footer-general {
  display: flex;
  align-items: center;
}

.footer-details {
  display: flex;
  flex-direction: column;
}

.social-network {
  width: 2.5rem;
}

.footer-general:nth-child(2) > :first-child {
  margin-right: 1rem;
}


/***********************
 NAV BAR
 ***************************/

nav {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 5rem;
  color: #4d5457;
  line-height: 1;
}

nav.index {
  margin-bottom: 0rem;
}

nav h5 {
  margin-bottom: 0;
}

nav > div {
  margin-right: 2rem;
}

.nav-closed-links {
  display: flex;
  align-items: flex-end;
}

nav li {
  margin: 0 0.7rem;
}

nav li:hover a {
  text-decoration: none;
  color: #0034b1;
  box-shadow: 0px 18px 5px -7px;
  display: block;
}

nav li:hover span {
  transition: transform 0.5s;
  transform: translateY(-5px);
  display: inline-block;
}

nav a,
nav a:focus {
  text-decoration: none;
  color: #4d5457;
}

nav a:active {
  text-decoration: none;
  color: #0034b1;
}

.nav-open-collapsed {
  display: none;
}

.active-link {
  color: #0034b1;
  box-shadow: 0px 18px 5px -7px;
  display: block;
}


/***********************
 NAV BAR - Home Page
 ***************************/

nav li:hover .link-name {
  box-shadow: 0px 18px 8px -6px;
}

.link-name {
  position: relative;
  top: 1rem;
}

.index .nav-closed-links {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  width: 40rem;
  align-items: center;
  height: 24rem;
  position: fixed;
  top: 40vh;
}

.index .nav-closed-links li {
  margin: 0 0.7rem;
  height: 11rem;
  width: 11rem;
  cursor: pointer;
  border-radius: 30px;
  clip-path: polygon(26% 100%, 0% 50%, 26% 0, 74% 0, 100% 50%, 74% 100%);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .index .nav-closed-links li:nth-child(-n+3) {
  background-image: linear-gradient(180deg, #fff 30%, #fff0 40%); */
/* } */

.index .nav-closed-links li:nth-child(-n+3) a {
  background-image: linear-gradient(180deg, #fff 30%, #d0f0ff 40%);
}

.info {
  position: relative;
  top: 3rem;
  color: #4d5457;
  line-height: 1.4rem;
  padding: 0.5rem;
}

.index a {
  display: block;
  height: 98.7%;
  width: 98.7%;
  background-image: linear-gradient(180deg, #28c9e38c 30%, #d0f0ff 40%);
  clip-path: polygon(26% 100%, 0% 50%, 26% 0, 74% 0, 100% 50%, 74% 100%);
}

.active-link .link-name {
  box-shadow: 0px 18px 8px -6px;
  display: inline-block;
}

.index li:hover a {
  text-decoration: none;
  color: #0034b1;
  box-shadow: none;
  display: inline-block;
}

.index .active-link {
  color: #0034b1;
  display: inline-block;
  box-shadow: none;
}

/***********************
NAV BAR - mobile
***************************/

@media (max-width: 640px) {
  
  .nav-open-collapsed {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 7px;
    width: 40px;
    border: none;
    height: 2rem;
    align-items: flex-start;
    padding: 0.1rem;
    background: none;
    align-items: center;
    z-index: 100;
  }

  .nav-open-collapsed:hover {
    background-color: #40a0d71a;
  }
  
  nav {
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .nav-closed-links {
    visibility: hidden;
    position: absolute;
    transition: all 0.75s;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    opacity: 0;
  }

  .nav-opened-links {
    background-image: url('../images/background-comp.jpg');
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    visibility: visible;
    align-items: center;
    padding-top: 100px;
    line-height: 2;
    opacity: 1;
  }

  .nav-opened-links li {
    width: 100%;
    text-align: center;
  }

  .nav-opened-links li:hover a {
    text-decoration: none;
    color: #0034b1;
    box-shadow: none;
    display: block;
  }

  .active-link {
    box-shadow: none;
  }
  
  .nav-opened-links li:hover span {
    transition: transform 0.5s;
    transform: none;
    display: inline-block;
  }
}

@media (max-width: 440px) {
  .nav-open-collapsed {
    font-size: 1.5rem;
    width: 30px;
  }

  nav h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  nav h5 {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }  

}



/***********************
FOOTER - mobile
***************************/


@media (max-width: 620px) {
  footer {
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: flex-start;
  }
  
  .contact-icon {
    font-size: 0.9rem;
    padding: 8px;
  }
  
  .footer-general {
    margin-bottom: 1rem;
  }
}



/***********************
 Home - mobile
****************************/
@media (max-width: 760px) {

  .about img {
    margin-right: 1rem;
  }

  .about div {
    white-space: normal;
  }

}

@media (max-width: 559px) {

  .about {
    flex-direction: column;
  }

  .about img {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .about div p {
    padding-left: 0rem;
  }
}














