

/***********************
 Projects
****************************/
section {
  padding-top: 1rem;
  border-top: 1px solid black;
}

.project-item {
  display: flex;
  margin-bottom: 2rem;
}

.projects li:nth-child(n+2)::before {
  content: "";
  width: 80%;
  border-top: 1px solid #00000029;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.carousel,
.carousel > img {
  width: 15rem;
  height: 15rem;
}

.carousel {
  margin-right: 2rem;
}

.hide {
  visibility: hidden;
}

.showed {
  visibility: visible;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.carousel-arrows {
  position: relative;
  top: -50%;  
  width: 15rem;
  display: flex;
  justify-content: space-between;
  opacity: 10%;
}

.carousel:hover .carousel-arrows {
  opacity: 100%;
}

.carousel-arrows > button {
  background: none;
  border: none;
}

.project-item__details {
  white-space: pre-line;
}



/***********************
 Projects - mobile
****************************/
@media (max-width: 669px) {

  .project-item {
    flex-direction: column;
  }

  .secondary-title {
    position: relative;
    top: -15rem;
    left: 17rem;
  }

  .project-item__project-info > *:nth-child(n + 2) {
    position: relative;
    top: -2rem;
  }
}

@media (max-width: 458px) {

  main {
    padding: 0 2rem 1rem 2rem;
  }

  .carousel,
  img {
    width: 12rem;
    height: 12rem;
  }

  .carousel-arrows { 
    width: 12rem;
  }

  .project-item {
    flex-direction: column;
  }

  .secondary-title {
    top: -12rem;
    left: 14rem;
  }

  .project-item__project-info > *:nth-child(n + 2) {
    top: -3rem;
  }
}

@media (max-width: 375px) {

  .carousel,
  img {
    align-self: center;
    margin: 0 0 1.5rem 0;
  }

  .secondary-title {
    position: static;
  }

  .project-item__project-info > p {
    position: relative;
    top: -5rem;
  }

  .project-item__project-info > h6:nth-child(n + 2) {
    position: relative;
    left: 7rem;
    white-space: pre-line;
    top: -7rem;
  }
}



























